/* Revert mentions and channel links */
#app-mount [class*="wrapper-"] {
  color: var(--brand-experiment-460);
  background: var(--brand-experiment-10a);

  text-decoration: none !important;
  padding: 0 1px;
}

#app-mount [class*="wrapper-"]:hover {
  background: var(--brand-experiment);
  color: var(--brand-experiment-100);
}

/* Hide semi-transparent background if mentioned in message */
/*[class*="mentioned-"] .mention {
  background: transparent !important;
}*/

/* Readd left padding for icons in mentions as our own padding removes it and breaks look */
#app-mount [class*="mention.iconMentionText-"] {
  padding-left: 1.2rem;
}

#app-mount [class*="mention.iconMention-"] {
  padding-left: 1.3rem;
}
