/* Revert reactions */
[class*="reaction-"] {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

[class*="mentioned-"] [class*="reaction-"],
[class*="mentioned-"] [class*="reaction-"]:hover {
    background-color:var(--background-modifier-accent);
}

[class*="reaction-"] [class*="reactionCount-"] {
  color: var(--text-muted); /* A11Y-- */
}

[class*="reaction-"] [class*="reactionInner-"] {
  padding: 0 .375rem;
}

/* Self reactions */
[class*="reaction-"][class*="reactionMe-"] [class*="reactionCount-"] {
  color: var(--brand-experiment); /* A11Y-- */
}

[class*="mentioned-"] [class*="reaction-"][class*="reactionMe-"],
[class*="mentioned-"] [class*="reactionMe-"][class*="reaction-"]:hover,
[class*="reaction-"][class*="reactionMe-"] {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
[class*="reaction-"]:hover [class*="reactionCount-"] {
  color: var(--interactive-active) !important;
}

[class*="reaction-"]:hover {
  background-color: var(--background-modifier-selected);
}

[class*="reaction-"][class*="reactionMe-"]:hover {
  background-color: var(--brand-experiment-40a);
}
