/* Role Revert in user modal */
[class*="role-"]{ 
  background: transparent;
  border: 1px solid;
  border-radius: 11px;
}

[class*="roleCircle-"] {
  margin-left: 0;
}

[class*="addButton-"][class*="role-"] {
  border-color: #4f545c;
}

[class*="addButtonIcon-"] {
  width: 10px;
  height: 10px;
}
