[class*="profileBanner-"] {
  background: none;
}

[class*="avatarWrapperNormal-"] {
  left: 35%;
}

[class*="headerTop-"] > [class*="profileBadges-"] {
  display: none;
}

[class*="headerText-"] {
  text-align: center;
}