/* Color BD specific settings elements */
#bd-pub-button, [class*="bd-"]views [class*="bd-"]utton[class*="selected, .bd-"] {
  background-color: var(--brand-experiment);
}
[class*="bd-"]:hover {
  background-color: var(--brand-experiment-560);
}
[class*="bd-"]:active {
  background-color: var(--brand-experiment-600);
}

.wrapper-1BJsBx {
  background-color: var(--brand-experiment) !important;
}

.wrapper-1BJsBx:hover {
  background-color: var(--brand-experiment-560) !important;
}
