/* Restyle the create server and discovery buttons to the old green */
[class*="circleIconButton-"] {
  color: var(--old-green);
}
[class*="circleIconButton-"][class*="selected-"] {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
[class*="container-"][style*="opacity: 1; background-color: hsl(139"] {
    background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
[class*="input-"][class*="focused-"], [class*="input-"]:focus {
  border-color: var(--brand-experiment);
}

/* Restyle the create server and discovery buttons to the old green */
[class*="circleIconButton-"] {
  color: var(--old-green);
}
[class*="circleIconButton-"][class*="selected-"] {
  color: white;
  background-color: var(--old-green);
}

/* On switches to old green */
[class*="container-"][style*="opacity: 1; background-color: hsl(139"] {
    background-color: var(--old-green) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
[class*="input-"][class*="focused-"], [class*="input-"]:focus {
  border-color: var(--brand-experiment);
}

/* Change all radio bars with the new green to the old green */
/* In particular, this fixes the privacy and safety settings' 'keep me safe' option */
[class*="radioBar-"][style*="--radio-bar-accent-color:hsl(139"] {
  --radio-bar-accent-color: var(--old-green) !important;
}

/* Revert ping mention button being link colored (used to be brand) */
[class*="colorLink-"][class*="size14-"][class*="mentionButton-"] {
  color: var(--brand-experiment) !important;
}

/* Change the 'get nitro' button in the emoji popup back to the old green */
[class*="lookFilled-"][class*="colorGreen-"] {
  background-color: var(--old-green);
}

/* Revert the 'Add Friend' button to the old green*/
[class*="item-"][class*="item-"][class*="themed-"][style*="background-color: hsl(139"] {
    background-color: var(--old-green) !important;
}

/* Fixed "Add Friend" button to correct colors when selected */
[class*="item-"][class*="item-"][class*="themed-"][aria-selected*="true"][style*="color: hsl(139"] {
  color: var(--old-green) !important;
  background-color: #33524c !important;
}

/* Color picker default to blurple instead of new brand color */
[class*="colorPickerSwatch-"][class*="default-"] {
  background-color: var(--brand-experiment) !important;
}

/* Revert the progress bar when uploading files back to blurple */
[class*="progressBar-"] {
    background-color: var(--brand-experiment) !important;
}

